<div ng-controller="editStoryController as story">
    <h3>Edit story</h3>
    <form name="story.storyForm" novalidate ng-submit="story.save()">

        <div class="form-group" ng-class="{'has-error':story.storyForm.title.$error.required && story.storyForm.$submitted  }">
            <label for="title">Title</label>
            <input type="text" class="form-control " name="title" id="title"
                   ng-model="story.story.title" ng-required="true">

        </div>


        <div class="form-group" ng-class="{'has-error':story.storyForm.desc.$error.required && story.storyForm.$submitted  }">
            <label for="desc">Description</label>
            <input class="form-control" name="desc" id="desc" ng-model="story.story.description" ng-required="true">
        </div>
        <div class="form-group" ng-class="{'has-error':story.storyForm.content.$error.required && story.storyForm.$submitted  }">
            <label for="content">Content</label>
            <textarea type="password" class="form-control" name="content" id="content" ng-model="story.story.content" ng-required="true"></textarea>
        </div>
        <h4>Groups</h4>
        <button type="button" class="btn btn-default" ng-repeat="group in story.story.groups" ng-click="story.removeTag(group)">
            {{group.groupName}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <br />

        <button type="submit" class="btn btn-info">Save</button>
        <button type="button" class="btn btn-warning" ng-click="story.goto('/stories')">Cancel</button>

    </form>
    <div class="clear"></div>
    <div class="col-md-12">
        <h4 ng-show="story.availableGroups.length>0">Available Groups</h4>
        <button type="button" class="btn btn-default" ng-repeat="group in story.availableGroups" ng-click="story.addTag(group)">
            {{group.groupName}}
        </button>
        <button ng-show="story.totalGroups > story.availableGroupsDefault.length" type="button" class="btn btn-info" ng-click="story.loadNext()">... more</button>

    </div>


</div>