<div ng-controller="storyController as story">
    <h3>Story</h3>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>{{story.story.title}}</h3></div>
            <div class="panel-body">
                <h2>{{story.story.description}}</h2>
                <p>{{story.story.content}}</p>
                <strong>Groups : </strong>
                <button type="button" class="btn btn-default" ng-repeat="group in story.story.groups">
                    {{group.groupName}}
                </button>
                <footer>Posted: <i>{{story.story.postedOn | date:'MM/dd/yyyy'}}</i></footer>
            </div>
        </div>


    </div>
    <button type="button" class="btn btn-warning" ng-click="story.goto('/stories')">Stories</button>
    <button type="button" class="btn btn-info" ng-click="story.goto('/story/edit/'+story.story.storyId)">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
</div>